params {
    samplesheet    = "${projectDir}/samplesheet.csv"
    outdir         = "/rsstu/users/r/rrellan/tlaloc/nil_pipeline/results"
    ref_b73_fa     = "/rsstu/users/r/rrellan/DOE_CAREER/inv4m/synteny/ref/B73/Zm-B73-REFERENCE-NAM-5.0.fa"
    ref_b73_gff    = "/rsstu/users/r/rrellan/DOE_CAREER/inv4m/synteny/ref/B73/Zm-B73-REFERENCE-NAM-5.0_Zm00001eb.1.gff3"
    ref_pt_fa      = "/rsstu/users/r/rrellan/DOE_CAREER/inv4m/synteny/ref/PT/Zm-PT-REFERENCE-HiLo-1.0.fa"
    ref_pt_gff     = "/rsstu/users/r/rrellan/DOE_CAREER/inv4m/synteny/ref/PT/Zm-PT-REFERENCE-HiLo-1.0_Zm00109aa.1.gff3"
    run_anchorwave = false
}

profiles {
    lsf {
        process.executor = 'lsf'
    }
}

process {
    errorStrategy = 'retry'
    maxRetries    = 1
    beforeScript  = 'source /usr/local/apps/miniconda20240526/etc/profile.d/conda.sh'

    withLabel: assembly {
        conda = '/share/maize/frodrig4/conda/env/assembly'
    }
    withLabel: anchorwave {
        conda = '/share/maize/frodrig4/conda/env/anchorwave'
    }
    withLabel: liftoff {
        conda = '/share/maize/frodrig4/conda/env/liftoff'
    }
    withLabel: r_plotting {
        conda = '/share/maize/frodrig4/conda/env/r_plotting'
    }
}

// Use conda for environment management
conda.enabled = true

// Timeline and report
timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}
report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/report.html"
    overwrite = true
}
